In [5]:
import pandas as pd
import numpy as np

In [6]:
#basic pandas commands
#making Series data types
labels=['a','b','c']
my_list=[10,20,30]
d={'a':10,'b':20,'c':30}
a_s=pd.Series(d)
for x in a_s:
    print(x)

10
20
30

In [7]:
pd.Series(index=labels,data=my_list)

a    10
b    20
c    30
dtype: int64

In [8]:
ser1=pd.Series([1,2,3,4],index=['US','UK','AUS','IND'])
print(ser1['US'])

1

In [9]:
#addition opf two series:
s1=pd.Series([1,2,3,4],index=['US','UK','SWE','IND'])
s2=pd.Series([6,9,5,6],index=['US','UK','SWE','RUS'])
s1+s2

IND     NaN
RUS     NaN
SWE     8.0
UK     11.0
US      7.0
dtype: float64

In [10]:
#exploring DataFrames:
from numpy.random import randn
np.random.seed(101)
df=pd.DataFrame(randn(5,4),index='A B C D E'.split(),columns='W X Y Z'.split())
print(df)
print(df['X']['C'])

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509
0.7401220570561068

In [11]:
print(df['W'])
print(df[['X','W']])

A    2.706850
B    0.651118
C   -2.018168
D    0.188695
E    0.190794
Name: W, dtype: float64
          X         W
A  0.628133  2.706850
B -0.319318  0.651118
C  0.740122 -2.018168
D -0.758872  0.188695
E  1.978757  0.190794

In [12]:
#creating a new column
df['AZ']=df['W']-df['Y']
print(df)
print()
df['AZ']=df['AZ']*df['AZ']
print(df)

          W         X         Y         Z        AZ
A  2.706850  0.628133  0.907969  0.503826  1.798880
B  0.651118 -0.319318 -0.848077  0.605965  1.499195
C -2.018168  0.740122  0.528813 -0.589001 -2.546982
D  0.188695 -0.758872 -0.933237  0.955057  1.121933
E  0.190794  1.978757  2.605967  0.683509 -2.415173

          W         X         Y         Z        AZ
A  2.706850  0.628133  0.907969  0.503826  3.235971
B  0.651118 -0.319318 -0.848077  0.605965  2.247585
C -2.018168  0.740122  0.528813 -0.589001  6.487116
D  0.188695 -0.758872 -0.933237  0.955057  1.258733
E  0.190794  1.978757  2.605967  0.683509  5.833060

In [13]:
#removing a column
df=df.drop('AZ',axis=1)
print(df)

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [14]:
#removing a row:
df=df.drop('A',axis=0)
print(df)
print(df)

          W         X         Y         Z
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509
          W         X         Y         Z
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [18]:
#conditional selection
print(df>0)
print()
m=df[df>0]
print(m)

       W      X      Y      Z
B   True  False  False   True
C  False   True   True  False
D   True  False  False   True
E   True   True   True   True

          W         X         Y         Z
B  0.651118       NaN       NaN  0.605965
C       NaN  0.740122  0.528813       NaN
D  0.188695       NaN       NaN  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [20]:
df=df.reset_index()
print(df)

  index         W         X         Y         Z
0     B  0.651118 -0.319318 -0.848077  0.605965
1     C -2.018168  0.740122  0.528813 -0.589001
2     D  0.188695 -0.758872 -0.933237  0.955057
3     E  0.190794  1.978757  2.605967  0.683509